Assignment7/Persons.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Persons">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Person">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="First"/>
										<xs:element type="xs:string" name="Last"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Credential">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="Id"/>
										<xs:element name="Password">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="Encryption"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Phone">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:int" name="Work"/>
										<xs:element name="Cell">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:int">
														<xs:attribute type="xs:string" name="Provider"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="Category"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
